body {
  background: url(https://assets.airtrfx.com/media-em/library/countries/philippines-PH.jpg);
  background-size: 550px 400px;
}

img {
  transform: translate(50%, 50%);
}

#mathsPic {
  transform: translate(10%, 20%);
}

#Chickpease0245682 {
  width: 500px;
  transform: translate(20%, 50%);
}

#ChickpeaseX0212465 {
  width: 500px;
  transform: translate(20%, 90%);
}
